<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}

        {% endblock title %} </title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/homepage.css">
</head>

<body>
    <div class="bimg">
        <header>
            <ul>
                <li onclick="Home()">Home</li>
                <li onclick="About()">About</li>
                <li onclick="Skills()">Skills</li>
                <li onclick="Education()">Education</li>
                <li onclick="Projects()">Projects</li>
                <li onclick="Contact()">Contact</li>
            </ul>
            

        </header>
        {% block home_body %}
        {% endblock home_body %}

        <footer>
             <h5>Copyright &copy; 2021</h2>
             <span id="f_outro">Made with 🤍 by <a style="text-decoration: underline; color: white;" href="https://www.linkedin.com/in/subin-s-k-9b767219a/">Subin S K</a></span> 
        </footer>
    </div>
</body>

<script src="/static/scripts/base.js"></script>

</html>