{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block css %}

<link rel="stylesheet" href="/static/styles/home.css">
<link rel="stylesheet" href="/static/styles/home_mq.css">
<link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">

{% endblock css %}
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

<body>
    {% block home_body %}

    <div class="intro_cont auto-center">
        <span id="ic_one" class="ic_cont">Hey There!</span>
        <span id="ic_two" class="ic_cont">I am Subin S K</span>
        <p id="abt_cont" class="auto-center">I am a passionate Developer, I like to develop things which will bring a
            change in
            community.<br>Automation with Intelligence fascinates me, that's why I am a ML/AI enthusiast.</p>
    </div>
    </div>

    <div class="skills auto-center">
        <div class="skills_icon auto-center">
            <img id="skills_img" src="/static/images/icons/skills_icon.png" alt="Skills">
            <p class="cont_heading">Skills </p>
        </div>
        <div>
            <img id="skills_png" src="/static/images/skills/skills.png" alt="Skills">
        </div>
    </div>
    <div class="education auto-center">
        <div class="edu_icon auto-center">
            <img id="edu_img" src="/static/images/icons/education_icon.png" alt="Education">
            <p class="cont_heading">Education</p>
        </div>
        <div class="edu_cards">
            <div class="edu_card">
                <img class="ins_img" src="/static/images/icons/CTAE.png" alt="CTAE">
                <p class="ec_head" id="ec_head1">College of Technology and Engineering, Udaipur (RAJ.)</p>
                <span class="ec_1">Major: </span>
                <span class="ec_2">B. Tech. in CSE</span>
                <span class="ec_3">2020 - 2024</span>
            </div>
            <div class="edu_card">
                <img class="ins_img" src="/static/images/icons/JNV.jpg" alt="JNV">
                <p class="ec_head" id="ec_head2">Jawahar Navodaya Vidyalya, Jalore (RAJ.)</p>
                <span class="ec_1">Major: </span>
                <span class="ec_2">12th: Physics, Chemistry, Maths</span>
                <span class="ec_3">2019 - 2020</span>
            </div>
            <div class="edu_card">
                <img class="ins_img" src="/static/images/icons/JNV.jpg" alt="JNV">
                <p class="ec_head" id="ec_head3">Jawahar Navodaya Vidyalya, Jalore (RAJ.)</p>
                <span class="ec_1">Major: </span>
                <span class="ec_2">10th: Physics, Chemistry, Maths</span>
                <span class="ec_3">2017 - 2018</span>
            </div>
        </div>
    </div>

    <div class="certificates auto-center">
        <div class="certificates_icon auto-center"><img id="certificates_img"
                src="/static/images/icons/certificate_icon.png" alt="certificates">
            <p class="cont_heading">Certifications</p>
        </div>
        <hr>
        <div class="cards">
            <div class="card">
                <a
                    href="https://www.dropbox.com/s/by789h6jrejo3is/HackJNU%202.0%20%3A%20Subin%20S%20K%20Cerificate.pdf?dl=0"><img
                        class="cer_img" src="/static/images/certificates/hackjnu.JPG" alt="MongoDB Certificate"></a>
                <div class="card_cont auto-center">
                    <h4><b>HackJNU 2.0: Hackathon Winner</b></h4>
                </div>
            </div>
            <div class="card">
                <a
                    href="https://www.dropbox.com/s/fwtr00ash2wugw5/Subin%20SK%20Certificate%20-%20Cicada%203301.pdf?dl=0"><img
                        class="cer_img" src="/static/images/certificates/cicada_certificate.jpg"
                        alt="Cicada Certificate"></a>
                <div class="card_cont auto-center">
                    <h4><b>Cicada 3301: Reinvented</b></h4>
                </div>
            </div>
            <div class="card">
                <a
                    href="https://api.badgr.io/public/assertions/DC5_txYWRQ2XkMxU-yUdMQ?identity__email=subinsk284%40gmail.com"><img
                        class="cer_img" src="/static/images/certificates/postmanstudentexpert.png"
                        alt="Postman Student Expert"></a>
                <div class="card_cont auto-center">
                    <h4><b>Postman Student Expert</b></h4>
                </div>
            </div>
            <div class="card">
                <a href="https://www.dropbox.com/s/mnmijin7znrb1a7/Subin%20S%20K%20ShapeAI%20Bootcamp.pdf?dl=0"><img
                        class="cer_img" src="/static/images/certificates/shapeai_bootcamp.jpg"
                        alt="ShapeAI Bootcamp"></a>
                <div class="card_cont auto-center">
                    <h4><b>ShapeAI Bootcamp</b></h4>
                </div>
            </div>
            <div class="card">
                <a
                    href="https://university.mongodb.com/course_completion/ce06dc2d-3f8d-46a3-910e-59c172315589?utm_source=copy&utm_medium=social&utm_campaign=university_social_sharing"><img
                        class="cer_img" src="/static/images/certificates/Mongo2.jfif" alt="MongoDB Certificate"></a>
                <div class="card_cont auto-center">
                    <h4><b>MongoDB: Basics</b></h4>
                </div>
            </div>
            <div class="card">
                <a
                    href="https://university.mongodb.com/course_completion/de11cf20-5ee9-496e-b7ce-7fd1b67ae36e?utm_source=copy&utm_medium=social&utm_campaign=university_social_sharing"><img
                        class="cer_img" src="/static/images/certificates/Mongo1.jfif" alt="MongoDB Certificate"></a>
                <div class="card_cont auto-center">
                    <h4><b>MongoDB: Authentication & Authorization</b></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="email auto-center contact">
        <form action="mailto:subinsk284@gmail.com" class="pageclip-form" method="post">
            <h2>Contact Me</h2>
            <input type="text" name="name" placeholder="Enter your name" id="" required>
            <input type="text" name="email" placeholder="Enter your email" id="" required>
            <textarea name="body" placeholder="Enter your message" required></textarea>
            <div class="e_btns">
                <button type="submit" value="Submit" class="button pageclip-form__submit"><span>Send</span></button>
                <input type="reset" value="Reset">
            </div>
        </form>
    </div>

    <!-- Scripts -->
    <script type="commonjs" src="/static/scripts/home.js"></script>
    <script type="commonjs" src="/static/scripts/anime.min.js"></script>
    <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
    {% endblock home_body %}
</body>
<!-- https://send.pageclip.co/5EC76pVeJ5ZWNgP4Xbt5Zcq5RaKQoLi5/portfolio -->

</html>