<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subin S K | Portfolio</title>
  <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
  
  <nav class="navbar">
      <ul>

        <li><a class="btn" id="work" href="#">Work</a></li>
        <li><a class="btn1" id="contact" href="#">Contact</a></li>
        
      </ul>
      
  </nav>

    <img id="profile" src="../static/images/profile.jpg" alt="#">
    <div>
      <label id="HeyThereImSubinSK.">Hey There! I'm Subin S K.</label>
      </div>
  
  
</body>
</html>