{% extends "base.html" %}
{% block title %} projects {% endblock title %}
<link rel="stylesheet" href="/static/styles/projects.css">
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

<body>
    
    {% block projects_body %}
    
    <div class="projects">
        <div class="projects_icon"><img id="projects_icon" src="/static/images/icons/projects_icon.png" alt="Projects">
            <p class="cont_heading">Projects</p>
        </div>
        
            <div class="pr_cards">
                <div class="pr_card">
                    
                </div>
            </div>
    
    </div>
    {% endblock projects_body %}
</body>
