@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    overflow: auto;
}
header{
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
    z-index: 999;
    background-color: white;
}
ul{
    display: flex;
    flex-direction: row;
    
   }
li{
    padding: 0.5rem;
    margin: 0.5rem;
    list-style-type: none;
    cursor: pointer;
}

footer{
    background-color: rgb(121, 121, 207);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.3rem;
}

#f_outro{
    font-size: 10px;
}