@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bimg{
   
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px) opacity(2px);
}

.intro_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    

    
}
.bimg{
    background-image: url('/static/images/bimg1.jpg');
    background-repeat: no-repeat;
    z-index: -4;
    background-size: cover;
    height: 50rem;
    width: auto;
   

}
.ic_cont{
    font-family: 'Akaya Kanadaka', cursive;
    color: white;
}

#ic_one{
    
    font-size: 5rem;
}
#ic_two{
    
    font-size: 2rem;
}

.cont_heading{
    font-size: 3.5rem;
}
/* About Section */

.about{
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 2rem 1rem 2rem 1rem;

}

.abt_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 20rem;

 
}
#abt_icon{
    width: auto;
    height: 5.5rem;
    margin: 1rem;

    
}

.abt_cont{
    width: 100%;
    height: 100%;
}
/* Skills Section */

.skills{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: whitesmoke;
    padding: 2rem 1rem 2rem 1rem;

}

.skills_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 20rem;
}
#skills_icon{
    width: auto;
    height: 5.5rem;
    margin: 1rem;

    
}

.skills_cont{
    width: 100%;
    height: 100%;
}

#skills_png{
    height: 83vh;
    width: auto;
}


/* Education Section */

.education{
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 2rem 1rem 2rem 1rem;

}

.edu_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 20rem;
}
#edu_icon{
    width: auto;
    height: 5.5rem;
    margin: 1rem;

    
}

.edu_cont{
    width: 100%;
    height: 100%;
}
/* Projects Section */

.projects{
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 2rem 1rem 2rem 1rem;
    background-color: whitesmoke;

}

.projects_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 20rem;
}
#projects_icon{
    width: auto;
    height: 5.5rem;
    margin: 1rem;

    
}

.projects_cont{
    width: 100%;
    height: 100%;
}


/* Certificates Section */

.certificates{
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 2rem 1rem 2rem 1rem;

}

.certificates_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 20rem;
}
#certificates_icon{
    width: auto;
    height: 5.5rem;
    margin: 1rem;

    
}




  .cer_img {
      width: 13rem;
      margin: 0.4rem;
      height: auto;
    /* transform: scale(0.6); */
  }
 
 
  .cards{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;

}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    padding: 0.5rem;
    margin: 1rem;
    height: 14.5rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}