@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bimg{
   
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px) opacity(2px);
}

.intro_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(121, 121, 207);

    
}
span,p{
    margin: 0.5rem;
}

.ic_cont{
    font-family: 'Akaya Kanadaka', cursive;
    color: white;
}

#ic_one{
    
    font-size: 5rem;
}
#ic_two{
    
    font-size: 2rem;
}

.cont_heading{
    font-size: 4.5rem;
}
/* About Section */

.about{
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 2rem 1rem 2rem 1rem;

}

.abt_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 20rem;

 
}
#abt_icon{
    width: auto;
    height: 5.5rem;
    margin: 1rem;

    
}

.abt_cont{
    width: 100%;
    height: 100%;
}
/* Sills Section */

.skills{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: whitesmoke;
    padding: 2rem 1rem 2rem 1rem;

}

.skills_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 20rem;
}
#skills_icon{
    width: auto;
    height: 5.5rem;
    margin: 1rem;

    
}

.skills_cont{
    width: 100%;
    height: 100%;
}

#skills_png{
    height: 83vh;
    width: auto;
}


/* Education Section */

.education{
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 2rem 1rem 2rem 1rem;

}

.edu_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 20rem;
}
#edu_icon{
    width: auto;
    height: 5.5rem;
    margin: 1rem;

    
}

.edu_cont{
    width: 100%;
    height: 100%;
}