@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
}
.bimg{

    background-image: url('/static/images/bimg/bimg5.jpg');
    background-repeat: no-repeat;
    z-index: -4;
    background-size: cover;
    height: 40rem;
    width: 100%;
    filter: blur(4px) opacity(2px);
    background-repeat: no-repeat;
    background-size: cover;
   

}
.intro_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    
    
    

    
}
.ic_cont{
    font-family: 'Akaya Kanadaka', cursive;
    color: white;
    
}

#ic_one{
    margin-top: 13rem;
    
    font-size: 5rem;
}
#ic_two{
    
    font-size: 2rem;
}

.cont_heading{
    font-size: 3.5rem;
}
/* About Section */

#abt_cont{
    margin: 1rem;
    flex-wrap: wrap;
    color: white;
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items:center;
    
}
/* Skills Section */

.skills{
    display: flex;
    flex-direction: row;
    height: 40rem;
    background-color: whitesmoke;
    padding: 2rem 1rem 2rem 1rem;

}

.skills_icon{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 20rem;
}
#skills_icon{
    width: auto;
    height: 5.5rem;
    margin: 1rem;

    
}

#skills_png{
    width: auto;
    height: auto;
    
}


/* Education Section */

.education{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    height: auto;
    padding: 2rem 1rem 2rem 1rem;
    row-gap: 1rem;

}

.edu_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 20rem;
    margin-right: 1.5rem;
}
#edu_icon{
    width: auto;
    height: 5.5rem;
    margin: 1rem;
}
.edu_cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.edu_card{
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: space-evenly;
    
    padding: 2rem;
    height: 15rem;
    margin: 1.5rem;
    border-radius: 1.4rem;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-image: linear-gradient(to bottom right, #002240 , #1a7ca3);
    transition: 0.3s;
    
}


/* Projects Section */
.projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
    padding: 2rem 1rem 2rem 1rem;
    background-color: whitesmoke;
    }


.projects_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 20rem;
}
#projects_icon{
    width: auto;
    height: 5.5rem;
    margin: 1rem;    
}

.pr_cards{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;

}

.pr_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    background-color: white;
    padding: 0.5rem;
    margin: 1rem;
    height: 14.5rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.pr_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

/* Certificates Section */

.certificates{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
    padding: 2rem 1rem 2rem 1rem;

}

.certificates_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 20rem;
}
#certificates_icon{
    width: auto;
    height: 5.5rem;
    margin: 1rem;

    
}

  .cer_img {
      width: 13rem;
      margin: 0.4rem;
      height: auto;
  }
 
  .cards{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;

}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    padding: 0.5rem;
    margin: 1rem;
    height: 14.5rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.card_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


