@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Klee One', cursive;
}
a{
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.autofix{
    padding: 0 11% 0;
}

/* Header */
header{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    z-index: 999;
    box-shadow: none;
}
 
.h_comp{
    padding: 0.5rem;
    margin: 0.8rem;
    cursor: pointer;
    background-color: rgb(0, 50, 95);
    color: white;
    border-radius: 20px;
    border: 2px solid rgb(0, 50, 95);
    transition: 0.4s;
    font-size: 1.2rem;
    font-weight: 600;
}
.h_comp:hover{
    color: rgb(0, 50, 95);
    background-color: rgba(233, 230, 230, 0.199);
}


.hb_icon{
    display: none;
    height: 20px;
    width: auto;
}

.m_header{
    display: none;
}



/* Projects Content */
.projects{
    display: flex;
    flex-direction: column;
}
.projects_icon{
    margin-top: 4rem; 
    display: flex;
    width: 100%;
    height: 40rem;
    background-color: rgb(0, 50, 95);
    justify-content: center;
    align-items: center;
}
#projects_icon{
    width: 8rem;
    height: auto;
    filter: invert();
    margin-right: 1.3rem;
}

.cont_heading{
    font-size: 8rem;
    color: white;
}

.pr_cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.pr_card{
    height: 26rem;
    width: 24rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    position: relative;
    border-radius: 0.7rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 0px 14px 3px rgb(0, 0, 0 , 18%);
    cursor: pointer;
    transition: 0.3s;
    
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    border-radius: 0.7rem;
    background-color: rgba(0, 51, 95, 0.733);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

.pr_card:hover .overlay {
    height: 100%;
  }
.pr_card:hover .pr_card{
   filter: blur(6px);
}

.card_img{
    height: 12rem;
    width: 20rem;
    flex-grow: 2;
    width: 19rem;    
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.card_cont{
    width: 86.5%;
    height: auto;
    margin: 1rem 0 0rem 0;
    border-radius: 1.5rem;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    text-align: center;
}

.view{
    margin-top: 2rem;
    height: 5rem;
    width: 5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 50%;
    background-color: rgb(0, 50, 95);
    box-shadow: none;
    color: white;
    box-shadow: none;
    cursor: pointer;
}
hr{
    line-height: 3px;
    color: rgba(0, 0, 0, 0.432);
}


/* Projects Description */

.pr_head{
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.prs{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.pr{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: auto;
}
.pr_desc{
    margin-top: 1rem;
}

.pr_tech{
    padding: 1.5rem;
}

.pr_img{
    margin-top: 2rem;
    max-width:29rem;
    max-height:30rem;
    width: auto;
    height: auto;
}

b{
    font-family: 'Baloo Paaji 2';
}

.links{
    display: flex;
    flex-direction: column;
}

.icon{
    display: flex;
    width: 6rem;
    align-items: center;
    margin: 0.4rem;
}

.icon_img{
    width: 2rem;
}
.icon_txt{
    text-decoration: underline;
    color: rgb(0, 50, 95);
    margin-left: 0.5rem;
}


/* Footer */
footer{
    
    min-height:50px;
    width: 100%;
    background-color: rgb(0, 50, 95);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.3rem;
}
.float_btn{
    position: fixed;
    bottom: 23px;
    right: 23px;
    font-family: 'Baloo Paaji 2';
    border: none;
    color: white;
    background-color: rgb(0, 50, 95);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.116);
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    max-width:52px;
    max-height:52px;
    width: auto;
    height: auto;
    cursor: pointer;
    font-size: 20px;
    padding: 20px;
    transition: 0.3s;
}
.footer_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#f_outro{
    margin: 0.4rem;
    font-size: 10px;
}

.sm_footer{
    display: flex;
    
}
.sm_icons_footer{
    filter: invert();
    width: 1.7rem;
    height: auto;
    margin: 0.7rem;
}