
      #Rectangle2 {
      height: 123px;
      width: 1920px;
      background-color: rgb(255,255,255);
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      }
      
      #nail-gilfanov-TuyneoFacJg-unsplash {
      height: 1301.4949951171875px;
      width: 1952px;
      background-color: rgb(0,0,0);
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      }
      
      #Rectangle4 {
      height: 79px;
      width: 221px;
      background-color: rgb(202,232,206);
      margin-left: 1695px;
      margin-right: 0px;
      margin-top: 246.49502563476562px;
      }
      
    #Contact {
    font-family: Ubuntu;
    color: rgb(112,112,112);
    font-weight: Regular;
    font-size: 42px;
    text-align: left;
    margin-left: 36px;
    margin-right: 0px;
    margin-top: 16px;
    display: inline-block;
    }
    
      #Rectangle7 {
      height: 689px;
      width: 1069px;
      background-color: rgb(255,255,255);
      margin-left: 197px;
      margin-right: 0px;
      margin-top: 163px;
      }
      
    #HeyThereImSubinSK. {
    font-family: Ubuntu;
    color: rgb(95,209,95);
    font-weight: Regular;
    font-size: 115px;
    text-align: left;
    margin-left: 32px;
    margin-right: 0px;
    margin-top: 16px;
    display: inline-block;
    }
    
    #Softwaredeveloper.
Passionateaboutwebandmobileapplication.



 {
    font-family: Ubuntu;
    color: rgb(63,49,49);
    font-weight: Regular;
    font-size: 47px;
    text-align: left;
    margin-left: 32px;
    margin-right: 0px;
    margin-top: 49px;
    display: inline-block;
    }
    
      #dsBuffer {
      height: 689px;
      width: 483.5248107910156px;
      background-color: rgb(0,0,0);
      margin-left: 156.3360595703125px;
      margin-right: 0px;
      margin-top: 163px;
      }
      
      #safar-safarov-MSN8TFhJ0is-unsplash {
      height: 1280px;
      width: 1920px;
      background-color: rgb(0,0,0);
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      }
      
    #Skills {
    font-family: Ubuntu;
    color: rgb(255,255,255);
    font-weight: Regular;
    font-size: 82px;
    text-align: left;
    margin-left: 165px;
    margin-right: 0px;
    margin-top: 62px;
    display: inline-block;
    }
    
      #Line1 {
      width: 1098.5px;
      border-color: rgb(255,255,255);
      margin-left: 164px;
      margin-right: 0px;
      margin-top: 23.5px;
      }
      
      #Rectangle6 {
      height: 822px;
      width: 1097px;
      background-color: rgb(255,255,255);
      margin-left: 165px;
      margin-right: 0px;
      margin-top: 36.5px;
      }
      
      #LogoPortfolio {
      height: 769px;
      width: 1026px;
      background-color: rgb(0,0,0);
      margin-left: 43px;
      margin-right: 0px;
      margin-top: 28px;
      }
      